Checks: '*,
    -altera*,
    -modernize*,
    -readability*,
    -google-readability*,
    -cppcoreguidelines-macro-usage,
    -llvm-header-guard,
    -llvmlibc-callee-namespace,
    -misc-include-cleaner,
    -llvm-include-order,
    -hicpp-use-nullptr,
    -cppcoreguidelines-avoid-magic-numbers,
    -google-runtime-int,
    -llvmlibc-restrict-system-libc-headers,
    -cppcoreguidelines-avoid-c-arrays,
    -llvm-namespace-comment,
    -misc-non-private-member-variables-in-classes,
    -hicpp-braces-around-statements,
    -fuchsia-overloaded-operator,
    -fuchsia-default-arguments-declarations,
    -cppcoreguidelines-noexcept-move-operations,
    -llvmlibc-inline-function-decl,
    -llvmlibc-implementation-in-namespace,
    -cppcoreguidelines-missing-std-forward,
    -hicpp-noexcept-move,
    -cppcoreguidelines-avoid-do-while,
    -fuchsia-default-arguments-calls,
    -performance-noexcept-move-constructor,
    -cppcoreguidelines-rvalue-reference-param-not-moved,
    -google-explicit-constructor,
    -hicpp-explicit-conversions,
    -bugprone-exception-escape,
    -cppcoreguidelines-pro-type-vararg,
    -hicpp-vararg,
    -hicpp-avoid-c-arrays,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-type-cstyle-cast,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-no-malloc,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -hicpp-no-malloc,
    -hicpp-deprecated-headers,
    -bugprone-easily-swappable-parameters,
    -cert-dcl16-c,
    -hicpp-uppercase-literal-suffix,
    -cppcoreguidelines-prefer-member-initializer
  '
HeaderFilterRegex: '.*'
WarningsAsErrors: '*,-clang-diagnostic-error'
FormatStyle: none
UseColor: true
